
  

          <!--//w3l-bottom-->
 <!--//w3l-footer-29-main-->
  <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="footer-list-29 col-lg-4">
            <h6 class="footer-title-29">About Company</h6>
            <p>Perfect Touch is a Neighborly company. Painting is just one of many home maintenance solutions available to you. At Neighborly, we are committed to being there for all your home services needs. </p>
            <div class="main-social-footer-29 mt-4">
              <a href="https://web.facebook.com/victor.joel.501598" class="facebook"><span class="fa fa-facebook"></span></a>
              <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
              <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">

            <ul>
              <h6 class="footer-title-29">Useful Links</h6>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'service' %}">Services</a></li>
              <li><a href="#"> Blog posts</a></li>
              <li><a href="{% url 'contact' %}">Contact us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">

            <ul>
              <h6 class="footer-title-29">Services</h6>
              <li><a href="{% url 'painting' %}">Painiting Service</a></li>
              <li><a href="{% url 'po' %}">POP Ceiling Installation</a></li>
              <li><a href="#">Selling Of Building Materials</a></li>
              <li><a href="{% url 'reflector' %}">Reflector Floor</a></li>
              <li><a href="{% url 'wallpaper' %}">wallpaper</a></li>
              <li><a href="#careers">Build Contracts</a></li>
            </ul>

          </div>
          <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Contact Us</h6>
            <ul>
              <li>
                <p><span class="fa fa-map-marker"></span> Industrie, #49436 block, #888 Honey rd
                  Newyork</p>
              </li>
              {% comment %} 7-800-999-800 {% endcomment %}
              <li><a href="tel:+8-152-341-160"><span class="fa fa-phone"></span> +(21)-810-597-9983</a></li>
              <li><a href="" class="mail"><span class="fa fa-envelope-open-o"></span>aleelovictor5@gmail.com</a></li>
            </ul>
          </div>
  </section>
 


  <section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
      <div class="bottom-copies">
        <p class="copy-footer-29 text-center">© 2020 Industrie. All rights reserved. Design by <a
            href="" target="_blank">
            skyline ict</a></p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">