{% extends "porfolio/header.html" %}
{% block content %}
  <!--/header-->
  <!-- main-slider -->
  <section class="w3l-main-slider" id="home">
    <div class="companies20-content">
      <div class="owl-one owl-carousel owl-theme">
        <div class="item">
          <li>
            <div class="slider-info banner-view bg bg2"> 
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h5>Provide Any Form of Pop Constructions For Your Building</h5>
                    <p class="mt-4 pr-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                      quisquam, doloremque placeat aut numquam ipsam. </p>
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="{% url 'about' %}"> About Us</a>
                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="{% url 'contact' %}"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info  banner-view banner-top1 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h5>Residential & Commercial Painting Services</h5>
                     <p class="mt-4 pr-lg-4">We are responsible for using power and hand tools to sand surfaces for further finishing and painting to accentuate the work done.</p>
                      
                      <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="{% url 'about' %}"> About Us</a>
                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="{% url 'contact' %}"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top2 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h5>Interior & Exterior Decoration</h5>
                    <p class="mt-4 pr-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                      quisquam, doloremque placeat aut numquam ipsam. </p>
                   <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="{% url 'about' %}"> About Us</a>
                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="{% url 'contact' %}"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top3 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h5>Selling of Building and Interior Materials</h5>
                    <p class="mt-4 pr-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                      quisquam, doloremque placeat aut numquam ipsam. </p>
                      <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="{% url 'about' %}"> About Us</a>
                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="{% url 'contact' %}"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
      <div class="arrow-downhny">
        <a href="#about" class="arrow-down text-center position-absolute">
          <span class="arrow-down-icon">
            <span class="fa fa-arrow-down"></span>
          </span>
        </a>
      </div>
    </div>
  </section>
  <!-- /main-slider -->
  <!--/grids-->
  <section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5 py-3">
      <div class="row bottom-ab-grids align-items-center">

        <div class="col-lg-6 bottom-ab-left">
          <h6 class="sub-titlehny">About Our Company</h6>
         <p class="my-3">Perfect Touch is a Neighborly company. Painting is just one of many home maintenance solutions available to you. At Neighborly, we are committed to being there for all your home services needs.</p>
        </div>
        <div class="col-lg-6 bottom-ab-right mt-lg-0 mt-3 pl-lg-4">
       <p class="mt-3">Here at Perfect Touch, we conduct ourselves to the highest standards of conduct. We show up on time, finish the job on time, and leave with a result that goes above and beyond your expectations.</p>
       
        </div>

      </div>
      <div class="row bottom_grids pt-md-3 text-left">
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="grid-block">
            <a href="#" class="d-block p-lg-4 p-3">
              <span class="fa fa-cubes" aria-hidden="true"></span>
              <h4 class="my-3">Superior Quality</h4>
              <p class="">
                We prepare the area properly and use the right equipment for the job in order to ensure the job is done correctly.</p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="grid-block">
            <a href="#" class="d-block p-lg-4 p-3">
              <span class="fa fa-building-o" aria-hidden="true"></span>
              <h4 class="my-3">Professional Expertise</h4>
              <p class=""> Feel confident that you are hiring the best in the business.</p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="grid-block">
            <a href="#" class="d-block p-lg-4 p-3">
              <span class="fa fa-podcast" aria-hidden="true"></span>
              <h4 class="my-3">On Budget</h4>
              <p class=""> When we provide pricing for the job, we will stick to it. No surprise fees after the work is complete.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//grids-->
  <!--/w3l-faq-block-->
  <div class="w3l-cwp4-sec py-5">
    <div class="container py-md-5 py-3">
      <div class="cwp4-two row align-items-center">
        <div class="cwp4-text col-lg-6">
          <h6 class="sub-titlehny">Industry Corporation!</h6>
          <h3 class="hny-title">Best A Grade Commercial
            & Residential Services</h3>

          <ul class="cont-4 mt-lg-5 mt-4">
            <li><span class="fa fa-check-circle-o"></span> Quality Control System, 100% Satisfaction Guarantee</li>
            <li><span class="fa fa-check-circle-o"></span> Highly Professional Staff, Accurate Testing Processes</li>
            <li><span class="fa fa-check-circle-o"></span> Unrivalled workmanship, Professional and Qualified</li>

          </ul>
        </div>
        <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
          <img src="/static/assets/images/banner2.jpg" class="img-fluid" alt="" width="100%">
        </div>
      </div>
    </div>

  </div>
  <!--//w3l-faq-block-->
  <section class="w3l-portfolio-8 py-5">
    <div class="portfolio-main py-md-5 py-3">
      <div class="container">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-titlehny">View Projects</h6>
          <h3 class="hny-title">Latest Projects</h3>
          </div>
        <div class="row galler-top mt-lg-5 mt-4">
         {% for project in projects %}
          <div class="col-md-4 protfolio-item hover14">
            <a href="{{ project.image.url }}"  data-lightbox="example-set" class="mb-4"
              data-title="lorem ipsum dolor sit amet">
              <figure>
                <img src="{{ project.image.url }}" alt="product" class="img-fluid" style="width: 100%; height: 300px;">
              </figure>
            </a>
          </div>
         {% endfor %}
       
        </div>
      </div>
      <div style="text-align: center; ">
        <a class="btn btn-style    mt-sm-5 mt-4" href="{% url 'project2' %}" style="background-color: orangered; color: white;">See Some Of Our Work
        </a>
       </div>
    </div>
  </section>
    <!--//projects-->
  <!-- stats -->
<section class="w3l-stats py-lg-5 py-5" id="stats">
  <div class="gallery-inner container py-md-5 py-3">
      <div class="row stats-con">
          <div class="col-lg-3 col-6 stats_info counter_grid">
              <span class="fa fa-laptop"></span>
              <p class="counter">1200</p>
              <h4>Projects & Residentials Completed in 2020</h4>
          </div>
          <div class="col-lg-3 col-6 stats_info counter_grid1">
              <span class="fa fa-users"></span>
              <p class="counter">2120</p>
              <h4>Qualified Employees & Workers With Us</h4>
          </div>
          <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
              <span class="fa fa-trophy"></span>
              <p class="counter">1012</p>
              <h4>Satisfied Clients We Served Globally</h4>
          </div>
          <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
              <span class="fa fa-smile-o"></span>
              <p class="counter">60</p>
              <h4>Years Of Experience In The Industry</h4>
          </div>
      </div>
  </div>
</section>
<!-- //stats -->
  <!--/w3l-faq-block-->
  <div class="w3l-faq-block py-5">
    <div class="container-fluid py-lg-4">
      <div class="row mt-2">
        <div class="col-md-12">
          <div>   
         {% for video in videos %}
         <video autoplay="autoplay" controls="controls" preload="preload" width="100%" height="600px"><source src="media/{{ video.videoFile }}" type="video/mp4"></video>
          {% endfor %}
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
  <!--//w3l-faq-block-->
  <!--/w3l-bottom-->

{% include "porfolio/footer.html" %}
{% endblock  %}
  

 



  

