{% extends "dashboard/header.html" %}
{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-white"  style="background-color: orangered;">
                    information
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="">
                        <h3 class="my-4">This is the information</h3>

                    </marquee>

                </div>
            </div>
        </div>
      {% include "dashboard/head.html" %}
    </div>

</div>

 {% endblock  %}