<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-white"  style="background-color: orangered;">
                   statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 p-3">
                            <a class="text-decoration-none text-dark" href="{% url 'inde' %}">
                                <div class="card shadow  text-center p-3 my-card">
                                <h4>home<i class="fas fas-user"></i></h4>
                                </div>

                            </a>
                        </div>
                        <div class="col-md-2 p-3">
                            <a class="text-decoration-none text-dark" href="{% url 'pro' %}">
                                <div class="card shadow  text-center p-3 my-card">
                                <h4>details<i class="fas fas-box"></i></h4>
                                </div>

                            </a>
                        </div>
                        <div class="col-md-2 p-3">
                            <a class="text-decoration-none text-dark" href="{% url 'pat' %}">
                                <div class="card shadow  text-center p-3 my-card">
                                <h4>paint<i class="fas fas-shipping-fast"></i></h4>
                                </div>

                            </a>
                        </div>
                            <div class="col-md-2 p-3">
                            <a class="text-decoration-none text-dark" href="{% url 'cont' %}">
                                <div class="card shadow  text-center p-3 my-card">
                                <h4>contact<i class="fas fas-shipping-fast"></i></h4>
                                </div>

                            </a>
                        </div>
                           <div class="col-md-2 p-3">
                            <a class="text-decoration-none text-dark" href="{% url 'pop' %}">
                                <div class="card shadow  text-center p-3 my-card">
                                <h4>pop<i class="fas fas-shipping-fast"></i></h4>
                                </div>

                            </a>
                        </div>
                           <div class="col-md-2 p-3">
                            <a class="text-decoration-none text-dark" href="{% url 'reflect' %}">
                                <div class="card shadow  text-center p-3 my-card">
                                <h4>floor<i class="fas fas-shipping-fast"></i></h4>
                                </div>

                            </a>
                        </div>
                           <div class="col-md-2 p-3">
                            <a class="text-decoration-none text-dark" href="{% url 'wall' %}">
                                <div class="card shadow  text-center p-3 my-card">
                                <h4>wall<i class="fas fas-shipping-fast"></i></h4>
                                </div>

                            </a>
                        </div>
                        


                    </div>
                 

                </div>
            </div>
        </div>
    </div>

