{% extends "dashboard/header.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% comment %} {% include "dashboard/head.html" %} {% endcomment %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Post</h4>
                <hr>
                <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 {{ form }}
                <input class="btn btn-success btn-block" type="submit" value="save">
                </form>

            </div>


        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class=""  style="background-color: orangered;">
                    <tr>
                        <th scope="col">image</th>
                         <th scope="col">Activity</th>
                    </tr>
            
                </thead>
                <tbody>
                   {% for  pro in  pros %}
                    <tr>
                       <td>{{ pro.image.url }}</td>
                       
                        <td>
                            
                            <a class="btn btn-danger btn-sm" href="{% url 'pro_delete' pro.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                 
            
            
                </tbody>
            
            
            
            </table>
            
        </div>

    </div>
</div>

 {% endblock  %}