{% extends "dashboard/header.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% comment %} {% include "dashboard/head.html" %} {% endcomment %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-6">
            <div class="border bg-white p-3">
                <h4>Post</h4>
                <hr>
             <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
               <input class="btn btn-success btn-block" type="submit" value="save">
             </form>
            </div>


        </div>
        <div class="col-md-6">
            <table class="table bg-white">
                <thead class=""  style="background-color: orangered;">
                    <tr>
                        <th scope="col">Image</th>
                         <th scope="col">Delete</th>
                    </tr>
            
                </thead>
                <tbody>
                 {% for wallpaper in wallpapers %}
                    <tr>
                       <td>{{ wallpaper.image.url }}</td>
                       
                        <td>
                          
                            <a class="btn btn-danger btn-sm" href="{% url 'wallpaper_delete' wallpaper.pk %}">Delete</a>
                        </td>
                    </tr>

                {% endfor %}
                 
            
            
                </tbody>
            
            
            
            </table>
            
        </div>

    </div>
</div>

 {% endblock  %}